@using ServiceLayer.DinoService.DTOCollection
@model ListDinoDTO

<div class="col-sm-4">
    <div class="card my-4">
        <img asp-append-version="true" src="@Model.DinoPicture" class="img-fluid"  />
        <div class="card-body">
            <h4 class="card-title">@Model.DinoName</h4>
            <p class="card-text">Diet: @Model.DietName</p>
            <p class="card-text">Pris: @Model.DinoPrice.ToString("c")</p>
        </div>
        <div class="card-footer text-muted text-center">
            <a asp-page="./Details" asp-route-dinoId="@Model.DinosaurId" title="Vis detaljer">
                Vis mere
            </a>
        </div>
    </div>
</div>