@page "{dinoId:int}"
@model DinosaurShoppen.Pages.DinoList.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>detaljer</h2>

<div>
    <dl class="row">
        <dd class="col-md-12">
            <img asp-append-version="true" src="@Model.Dinosaur.DinoPicture" style="max-height: 150px; max-width: 150px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dinosaur.DinoName)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Dinosaur.DinoName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dinosaur.DinoWeight)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Dinosaur.DinoWeight) kg
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dinosaur.DinoHeight)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Dinosaur.DinoHeight) m
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dinosaur.DinoLenght)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Dinosaur.DinoLenght) m
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dinosaur.DietName)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Dinosaur.DietName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dinosaur.DinoPrice)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Dinosaur.DinoPrice)
        </dd>
        @if (!string.IsNullOrEmpty(Model.Dinosaur.PromotionName))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Dinosaur.PromotionName)
            </dt>
            <dd class="col-md-10">
                @Html.DisplayFor(model => model.Dinosaur.PromotionName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Dinosaur.PromotionRabat)
            </dt>
            <dd class="col-md-10">
                @Html.DisplayFor(model => model.Dinosaur.PromotionRabat)%
            </dd>
        }
    </dl>
</div>
<div class="col-md-4">
    <form method="post">
        <input asp-for="@Model.Antal" class="form-control" /><br />
        <input type="hidden" asp-for="DinoId" value="@Model.Dinosaur.DinosaurId"  />
        <input type="submit" value="Tilføj til kurv" class="btn btn-primary" />
    </form>
    <a asp-page="./">Tilbage</a>
</div>